.owner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
.section{
  background-color: #f2f2f2; 
  padding: 20px; 
  border-radius: 10px; 
}

.owner-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(29, 235, 10);
  width: 300px;
  margin: 10px;
}

.owner-item-property {
  font-weight: bold;
  margin: 0;
}
 
 
 .list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  }
  
  .list-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 153, 0);
    width: 300px;
    margin: 10px;
  }
  
  .list-item-property {
    font-weight: bold;
    margin: 0;
  }

  button {
    display: inline-block;
    padding: 7px 14px;
    background-color: #ff0000; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  
  
  button:hover {
    background-color: #b30000; 
    color: rgb(216, 214, 214); 
    /* border: 2px solid #007bff00;  */
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);  
    
  }

 