<br><br><br>
<div *ngIf="!isAdmin">
  <p>User does not have Admin Privileges</p>
</div>
<div *ngIf="isAdmin">
<div class="section1">
<h1>Owners Awaiting Approval</h1>
</div>
<br>
<div class="section2">
<h1>Current Business Owners</h1>
<div class="owner-container">
  <div *ngFor="let b of businessList" class="owner-item">
    <h4 class="owner-item-property">{{b.services}}-{{b.businessName}}</h4>
    <br>
    <h4 class="owner-item-property"> ID Number: </h4>
    <h5 class="owner-item-property">{{b.businessGoogleId}}</h5>
    <br>
    <h4 class="owner-item-property">Address:</h4>
    <p *ngIf="b.oneLocation === true" class="owner-item-property"> {{b.address}}</p>
    <p *ngIf="b.oneLocation === true" class="owner-item-property"> {{b.city}}, {{b.state}}</p>
    
    <div *ngIf="((newUser.googleId == b.businessGoogleId) && (loggedIn == true) && (doesIdExist == true)) || isAdmin == true ">
      <button class="button" (click)="deleteBusiness(b.ID)">Delete Business</button>
  </div>
</div>
</div>

<div class="section3">
<h1>Events</h1>
<div class="list-container">
    <div *ngFor="let l of list" class="list-item">
      
      <h4 class="list-item-property">Customer Name:</h4>
      <h6 class="list-item-property">{{ l.firstName }} {{ l.lastName }}</h6>
      <br>
      <div *ngFor="let b of businessList">
        <h4 *ngIf="l.businessGoogleId == b.businessGoogleId" class="list-item-property">Business:</h4>
        <h6 *ngIf="l.businessGoogleId == b.businessGoogleId" class="list-item-property">{{b.services}} - {{ b.businessName }}</h6>
      </div>
      <br>
      <h4 class="list-item-property">Date and Time: </h4>
      <p class="list-item-property">{{ l.dateTime | date: "short" }}</p>
      <br>
      <h4 class="list-item-property">Reason:</h4>
      <p class="list-item-property">{{ l.description }}</p>
      <br>
      <h4 class="list-item-property">Address: </h4>
      <p class="list-item-property">{{ l.address }}</p>
      <p class="list-item-property">{{ l.city }}, {{ l.state }}</p>
      <!-- <p class="list-item-property">{{ l.state }}</p> -->
      <div *ngIf="((newUser.googleId == l.googleId) && (loggedIn == true) && (doesIdExist == true)) || isAdmin == true ">
      <button class="button" (click)="thisEventIsDeadToMe(l.id)">Delete Appointment</button>
    </div>
    </div>
    </div>
  </div>
</div>
  <div class="section4">
    <h1>Services</h1>
    <div class="list-container">
    <div *ngFor="let s of listOfServices" class="list-item">
      <h4 class="list-item-property">{{s.serviceName}}</h4>
      <br>
      <div *ngFor="let b of businessList">
        <p class="list-item-property" *ngIf="b.businessGoogleId == s.businessGoogleId"> {{b.services}}-{{b.businessName}}</p>
        
    </div>
      <br>
      <h4 class="list-item-property">Address:</h4>
      <!-- <p *ngIf="b.oneLocation === true" class="list-item-property"> {{b.address}}</p>
      <p *ngIf="b.oneLocation === true" class="list-item-property"> {{b.city}}, {{b.state}}</p> -->
      
      <div *ngIf="((newUser.googleId == s.businessGoogleId) && (loggedIn == true) && (doesIdExist == true)) || isAdmin == true ">
        <button class="button" (click)="removeService(s.id)">Delete Service</button>
      </div>
    </div>
  </div>
  </div>

