
<header [ngClass]="{'scrolled': isScrolled}">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">TimeCraft</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/event-list']">Event List</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/calendar']">Calendar</a>
          </li>
          <li class="nav-item">
            <asl-google-signin-button
              *ngIf="!loggedIn"
              type="icon"
              size="medium"
            ></asl-google-signin-button>
            <button
              class="btn btn-outline-dark"
              *ngIf="loggedIn"
              (click)="signOut()"
            >
              Sign Out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
